@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url('../fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}


/* common */
input {
    outline: none !important;
}

img {
    display: block;
    width: 100%;
}

.preventSroll {
    overflow-y: hidden !important;
}

.button {
    background: linear-gradient(70.04deg, #00987D 21.54%, #00D06C 76.88%),
    linear-gradient(204.41deg, #FFFFFF 13.48%, rgba(255, 255, 255, 0) 68.63%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    border-radius: 52px;
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    white-space: nowrap;
    border: none;
    text-align: center;
    width: 100%;
    display: block;
    padding: 24px 20px;
    max-width: 314px;
    margin-left: auto;
    margin-right: auto;
    outline: none;
}


/* header */
header {
    right: 0;
    left: 0;
    top: 0;
    height: 88px;
    background-color: #262626;
    position: fixed;
    z-index: 100;
    padding: 16px 0;
}

.logotype-container {
    width: 157px;
    max-width: 157px;
}

.contact-icon-container {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: linear-gradient(86.52deg, #00987D 5.7%, #00D06C 95.81%),
    linear-gradient(204.41deg, #FFFFFF 13.48%, rgba(255, 255, 255, 0) 68.63%);
}

.phone-button {
    border: 0;
    background-color: transparent;
    display: block;
    padding: 0;
    position: relative;
    z-index: 5;
}

.phone-icon {
    display: block;
    width: 19px;
}

.phone-dropdown {
    margin: -25px !important;
    z-index: 2;
    background: #EEEEEE;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 15px;
    border: 0;
    padding: 0;
}

.dropdown-header-number {
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    margin: 25px 20px 15px 20px;
}

.dropdown-header-callback {
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-decoration-line: underline;
    max-width: 115px;
    color: #00987D;
    margin: 0 auto 15px auto;
}

.dropdown-header-callback:hover {
    cursor: pointer;
}

/* main */
/* welcome section */

.mt10{
    margin-top: 10px;
}

.welcome-section {
    background: linear-gradient(88.81deg, #F5F4F2 15.25%, #E9E4E1 95.28%);
    margin-top: 88px;
}

.welcome-header {
    max-width: 760px;
    padding-top: 57px;
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #323232;
}

.welcome-description {
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    margin: 20px 0 10px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
}

.welcome-description--modified {
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    margin: 10px 0 20px 0;
}

.welcome-description--modified span {
    display: inline-block;
    text-transform: uppercase;
    color: #00D06C;
}

.welcome-image-container {
    width: 100%;
}

.welcome-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
}

.welcome-button-link {
    text-decoration: none;
}

/* advantages section */
.advantages-section {
    background: #FFFFFF;
    padding-bottom: 80px;
}

.advantages-header {
    margin: 72px 0 45px 0;
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #323232;
}

.advantage-card {
    flex-grow: 0;
    flex-basis: 40%;
    border-radius: 25px;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

.advantage-card_first-row {
    margin-bottom: 50px;
}
.advantage-card-ext{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 233px;
}
.advantage-card-ext__h3{
    color: #00987D;
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
}
.advantage-card-ext__svg1{
    margin-bottom: 20px;
    width: 130px;
    height: 130px;
    background-color: #01D06D;
  -webkit-mask: url(/src/images/Tilda_Icons_24fn_mobilebank.svg) no-repeat center;
  mask: url(/src/images/Tilda_Icons_24fn_mobilebank.svg) no-repeat center;
}.advantage-card-ext__svg2{
    margin-bottom: 20px;
    width: 130px;
    height: 130px;
    background-color: #01D06D;
  -webkit-mask: url(/src/images/Tilda_Icons_24fn_payment.svg) no-repeat center;
  mask: url(/src/images/Tilda_Icons_24fn_payment.svg) no-repeat center;
}.advantage-card-ext__svg3{
    margin-bottom: 20px;
    width: 130px;
    height: 130px;
    background-color: #01D06D;
  -webkit-mask: url(/src/images/Tilda_Icons_1ed_timer.svg) no-repeat center;
  mask: url(/src/images/Tilda_Icons_1ed_timer.svg) no-repeat center;
}.advantage-card-ext__svg4{
    margin-bottom: 20px;
    width: 130px;
    height: 130px;
    background-color: #01D06D;
  -webkit-mask: url(/src/images/Tilda_Icons_14ht_group.svg) no-repeat center;
  mask: url(/src/images/Tilda_Icons_14ht_group.svg) no-repeat center;
}
.advantage-card-ext__p{
    font-weight: 500;
    margin-bottom: 30px;
    max-width: 200px;
    text-align: center;
    font-size: 18px;
        line-height: 160%;
        font-family: 'Montserrat', 'Times New Roman', sans-serif;
}

/* request section */
.request-section {
    padding: 130px 0 110px 0;
    background: #262626 url('../images/fallingMoney.jpg') no-repeat;
    background-size: cover;
}

.request-section-header {
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #ffffff;
}

.request-section-mobile-input {
    margin: 35px 0 32px 0;
    width: 100%;
    display: block;
    padding: 15px 0 15px 59px;
    background: #FCFCFC;
    border-radius: 51px;
    outline: none;
    border: none;
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.country-phone-icon {
    width: 28px;
    left: 22px;
    top: 50%;
    transform: translateY(-50%);
}

.dogovor-form-number-container .country-phone-icon {
    top: calc(50% + 3px);
    transform: translateY(-50%);
}

.range-label {
    display: block;
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #ffffff;
    margin: 0 0 10px 0;
}

.button-submit-request-section {
    margin-top: 60px;
    padding: 24px 20px;
}

/* reviews section */
.reviews-header {
    margin: 72px 0 25px 0;
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #323232;
}

.slider-container {
    padding: 20px 0;
}

.carousel-item {
    padding: 0 10%;
}

.reviews-slider_item {
    background: #FFFFFF;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 25px;
    padding: 38px 0;
    max-width: 320px;
    margin: 0 auto;
    max-height: 400px;
    height: 400px;
}

.review-avatar-container {
    padding: 0 62px;
}

.review-name {
    padding-left: 27px;
    margin-top: 29px;
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #323232;
}

.review-description {
    padding: 12px 27px 0 27px;
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #323232;
}

.arrow-button {
    width: 30px;
}

.carousel-control-prev {
    padding-right: 20px;
}

.carousel-control-next {
    padding-left: 20px;
}

/* guarantee section */
.guarantee-header {
    margin-top: 50px;
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
}

.guarantee-subheader {
    margin-top: 30px;
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #323232;
}
.guarantee-description {
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #323232;
    margin: 10px 0 0 0;
}
.guarantee-description_bold {
    font-weight: 600;
}
.pdf-link {
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #00D06C;
}

.pdf-link-image {
    display: inline-block;
    width: 13px;
    margin-left: 5px;
}

.guarantee-image {
    margin-top: 25px;
    margin-bottom: 20px;
}
/* partners */
.section-partners{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.partners-header {
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #323232;
    margin-top: 100px;
    text-align: center;
}
.partners-div__item{
    box-sizing: border-box;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.partners-div{
    max-width: 1100px;
    margin-bottom: 40px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
/* .partners-vtb{
    max-height: 120px;
    max-width: 350px;
    margin-top: 20px;
} */




/* faq section */
.faq-header {
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #323232;
    margin-top: 80px;
    text-align: center;
}

.faq-accordion {
    margin: 18px 0 70px 0;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    background: #ffffff;
    padding: 25px 32px 20px 32px;
}

.faq-accordion-item {
    padding: 0;
    border: 0;
}

.accordion-button {
    padding: 20px 0 10px 0;
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #323232;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.accordion-body {
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #FFFFFF;
    background: #00987D;
    border-radius: 25px;
}

.accordion-button:focus,
.accordion-button:not(.collapsed) {
    color: #323232;
    background-color: #ffffff;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    border: none;
    font-weight: 600;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, .125);
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='https://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

/* footer */
footer {
    background-color: #262626;
    padding-top: 65px;
    padding-bottom: 20px;
}

.footer-header {
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.footer-header_contacts {
    margin-bottom: 32px;
}

.footer-contact-link {
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    text-decoration: none;
    padding-bottom: 16px;
}

.footer-header_contacts-phone-wrapper {
    margin-bottom: 16px;
}

.footer-contact-link:last-child {
    padding-bottom: 0;
}

.footer-contact-link:hover,
.footer-pdf-link:hover {
    color: #00D06C;
    cursor: pointer;
}

.contacts-container {
    margin-right: 20px;
}

.requisites-description {
    max-width: 150px;
}

.requisites-description,
.footer-pdf-link {
    margin: 0;
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    display: block;
}

.header-logo-container {
    width: 231px;
    margin: 55px auto 40px auto;
}

.site-description {
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    padding-bottom: 40px;
    margin: 0;
}

.site-description__address {
    padding-bottom: 0;
}

.site-description__address_header {
    padding-bottom: 0;
    margin-top: 5px;
}

.site-info-container_address {
    margin-bottom: 20px;
}

.developed-by {
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 5px;
}

.developed-by_name {
    color: #00D06C;
    text-decoration: none;
}

.developed-by_name:hover {
    cursor: pointer;
    color: #00D06C;
}

.product-name {
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin: 0;
    text-align: center;
}

/* dogovor page */
.page-description {
    margin-top: 88px;
    padding-top: 70px;
    padding-bottom: 40px;
}

.page-description p {
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #323232;
}

.pdf-link-page-description {
    color: #00987D;
}

/* dogovor page */
main.dogovor-page {
    background: #EEEEEE;
}

.form-dogovor {
    padding: 0 20px 70px;
}

.form-text-label {
    display: block;
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #323232;
    margin-bottom: 8px;
    padding-left: 21px;
}

.dogovor-form-input {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 20px;
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #323232;
    background: #FCFCFC;
    border-radius: 51px;
    border: 0;
    outline: none;
}

.dogovor-form-number-container input {
    padding-left: 60px;
}


.dogovor-custom-checkbox-container {
    margin-bottom: 17px;
}

.dogovor-custom-checkbox {
    width: 21px;
    height: 21px;
}

.form-check-input:hover,
.dogovor-custom-checkbox-label {
    cursor: pointer;
}

.form-check-input:checked {
    background: #00D06C;
    border-color: #00D06C;
    outline: none;
}

.form-check-input:focus {
    box-shadow: none;
    border-color: #00D06C;
}

.dogovor-custom-checkbox-label {
    display: inline;
    padding-left: 11px;
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #323232;
}

.form-dogovor-submit-btn {
    margin: 37px 0 0 0;
    outline: none;
}

input.error-input, .dogovor-custom-checkbox--error {
    border: 1px solid #E33939 !important;
    background-color: #FFF3F3 !important;
}

.ajax-loader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ajax-background {
    width: 100%;
    height: 100%;
    background: gray;
    opacity: 0.5;
}

.ajax-loader img {
    position: absolute;
    z-index: 10;
    width: 75px;
    display: block;
}

.ajax-loader-callbackModel {
    width: 50px;
    display: block;
    margin: 20px auto;
}

.ajax-loader--dogovor {
    position: fixed;
    z-index: 50;
}

.gratitude-page {
    margin-bottom: 200px;
}

.gratitude-page div {
    border-radius: 25px;
    box-shadow: 0 30px 60px rgb(0 0 0 / 10%);
    padding: 50px;
}

.gratitude-page .guarantee-subheader {
    font-size: 25px;
    margin-bottom: 25px;
}

.gratitude-page p:last-child {
    font-size: 12px;
}

/*animation advantages card*/
@keyframes fadeLeftMobile {
    from {
        opacity: 0;
        transform: translate3d(-200%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeRightMobile {
    from {
        opacity: 0;
        transform: translate3d(200%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.advantage-card {
    opacity: 0;
}

@media (max-width: 991px) {
    .advantages-images-container__animated .advantage-card:nth-child(1) {
        animation: fadeLeftMobile 1s ease-out forwards;
    }

    .advantages-images-container__animated .advantage-card:nth-child(2) {
        animation: fadeRightMobile 1s ease-out 0.4s forwards;
    }

    .advantages-images-container__animated .advantage-card:nth-child(3) {
        animation: fadeLeftMobile 1s ease-out 0.8s forwards;
    }

    .advantages-images-container__animated .advantage-card:nth-child(4) {
        animation: fadeRightMobile 1s ease-out 1.2s forwards;
    }
}

@media(min-width: 100px){
    /* .partners-vtb{
        transform: scale(0.5);
    } */
}

@media (max-width: 360px) {
    .reviews-slider_item {
        max-height: 377px;
        height: 377px;
    }
}

@media (max-width: 360px) {
    .alert--error {
        width: 80%;
    }
    /* .partners-vtb{
        transform: scale(0.6);
    } */
    .partners-div{
        margin-bottom: 50px;
    }
}



@media (min-width: 768px) {

    /* header */
    header {
        height: 110px;
        padding: 0;
    }

    .header-button {
        padding: 20px 35px;
    }

    .logotype-container {
        width: 245px;
        max-width: 245px;
    }

    /* welcome section */
    .welcome-section {
        margin-top: 110px;
    }

    .welcome-header {
        font-size: 46px;
        line-height: 160%;
    }

    .welcome-description {
        font-size: 23px;
        line-height: 160%;
        margin: 25px 0 10px 0;
    }

    .welcome-description--modified {
        font-size: 26px;
        line-height: 160%;
        margin: 10px 0 25px 0;
    }
    /* partners section*/
    .partners-div{
        margin-top: 30px;
    }
    /* .partners-vtb{
        transform: scale(0.7);
    } */
    

    /* request section */
    .request-section-form {
        max-width: 540px;
        margin: 0 auto;
    }
    .request-section-header{
        max-width: 640px;
    }
    .range-label {
        font-size: 13px;
    }

    /* reviews section */
    .reviews-slider_item {
        max-width: none;
        padding: 0;
        max-height: 286px;
        height: 286px;
    }

    .review-avatar-container {
        padding: 0;
        margin: 57px 47px 57px 49px;
        width: 160px;
        min-width: 160px;
    }

    .review-comment-container {
        padding: 78px 0 79px 43px;
    }

    .review-name {
        margin: 0;
        padding: 0;
    }

    .review-description {
        font-size: 14px;
        line-height: 160%;
        padding: 0;
    }

    /*  guarantees section */
    .guarantee-description {
        font-size: 14px;
        margin: 12px 0 0 0;
        line-height: 160%;
    }

    .pdf-link {
        margin: 12px 0 24px 0;
        font-size: 14px;
    }

    .guarantee-description:last-child {
        font-size: 13px;
    }
    /*partners section*/
    /* .partners-vtb{
        margin-right: 60px;
    } */

    /* faq section */
    .accordion-button {
        font-size: 14px;
        line-height: 160%;
    }

    .accordion-body {
        font-size: 13px;
        line-height: 160%;
    }

    /*    dogovor page*/
    .page-description {
        margin-top: 110px;
        padding-top: 90px;
        padding-bottom: 130px;
    }

    .page-description p {
        font-size: 20px;
        line-height: 24px;
    }

    .form-dogovor {
        padding: 0 20px 120px;
    }

    .form-text-label {
        padding-left: 40px;
        font-size: 20px;
        line-height: 24px;
    }

    .dogovor-form-input {
        padding: 24px 41px 19px 41px;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 31px;
    }

    .passport-num-label {
        white-space: nowrap;
    }


    .dogovor-form-number-container {
        margin-bottom: 10px;
    }

    .dogovor-custom-checkbox {
        width: 28px;
        height: 28px;
        margin: 0;
    }

    .dogovor-custom-checkbox-container {
        margin-bottom: 31px;
    }

    .dogovor-custom-checkbox-label {
        font-size: 16px;
        line-height: 28px;
    }

    .form-dogovor-submit-btn {
        margin: 70px 0 0 0;
    }

    /*    footer    */
    .footer-header_contacts-phone-wrapper {
        margin-right: 50px;
    }
}

@media(max-width:600px){
    .advantage-card{
        transform: scale(0.7);
    }
    .advantage-card-ext{
        max-width: 300px;
    }
    .advantage-card-ext__p{
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    /* common */
    .button {
        font-size: 15px;
        max-width: none;
        padding: 20px 51px;
        width: auto;
    }

    .header-phone-number {
        font-family: 'Montserrat', 'Times New Roman', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        white-space: nowrap;
        margin-right: 30px;
        text-decoration: none;
    }

    .header-phone-number:hover {
        color: #00D06C;
    }

    /*welcome section*/
    .welcome-section {
        overflow: hidden;
    }

    .welcome-header {
        padding: 0;
        font-size: 64px;
        line-height: 160%;
        margin: 96px 0 24px 0;
    }

    .welcome-description {
        font-size: 16px;
        line-height: 160%;
        max-width: 400px;
        margin-bottom: 30px;
    }

    .welcome-description--modified {
        margin-bottom: 50px;
    }

    .welcome-button {
        width: auto;
        position: static;
        transform: none;
        left: 0;
        margin: 0 0 140px 0;
    }

    .section-wrapper-info_under-image {
        z-index: 10;
        position: relative;
    }

    .welcome-image-container {
        z-index: 3;
        right: 0;
        bottom: 0;
        position: absolute;
        max-width: 1120px;
    }

    .welcome-button {
        position: static;
    }

    /*advantages section*/
    .advantages-section {
        padding-bottom: 160px;
    }

    .advantages-header {
        margin: 85px 0 65px 0;
        font-size: 36px;
        line-height: 160%;
    }

    .advantage-card {
        flex-grow: 0;
        flex-basis: 20%;
    }
    /* partners section */
   
    .partners-div{
        margin-top: 130px;
    }
    /* .partners-vtb{
        margin-right: 0;
        margin-left: 20px;
    } */

    /* advantages section */
    .advantage-card_first-row {
        margin-bottom: 0;
    }

    .union-decorator {
        position: absolute;
        width: 35px;
        right: -40px;
        top: 50%;
        transform: translateY(-50%);
    }

    /* request section */
    .request-section {
        padding: 73px 0;
    }

    .request-section-header {
        font-size: 24px;
        line-height: 160%;
        margin-bottom: 30px;
        max-width: 750px;
    }

    .request-section-form {
        max-width: none;
        flex-grow: 1;
    }

    .request-calculate-container {
        order: -1;

    }

    .request-section_item {
        flex-basis: 31%;
    }

    .range-label {
        margin-bottom: 10px;
    }

    .request-section-mobile-input {
        margin: 0;
        padding: 20px 55px;
    }

    .button-submit-request-section {
        margin: 0;
        width: 100%;
    }

    /* reviews section */
    .reviews-header {
        font-size: 36px;
        margin: 85px 0 70px 0;
    }

    .review-avatar-container {
        padding: 0;
        margin: 38px 40px 30px 22px;
        width: 130px;
        min-width: 130px;
    }

    .review-comment-container {
        padding: 42px 0 35px 30px;
    }

    .review-description {
        font-size: 12px;
        line-height: 160%;
        margin-bottom: 11px;
    }

    .review-name {
        font-size: 16px;
    }

    .reviews-slider_item {
        flex-basis: 50%;
        max-height: 212px;
        height: 212px;
    }

    .reviews-slider_item--desktop {
        margin-left: 20px;
    }

    .guarantee-image {
        margin: 0;
    }

    /*guarantee*/
    .guarantee-header {
        font-size: 36px;
        margin: 130px 0 55px 0;
    }

    .guarantee-subheader {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .get-guarantee-button-desktop {
        margin: 34px 0 0 0;
    }

    .pdf-link {
        margin: 16px 0 32px 0;
    }

    /* partners section*/
    .partners-header {
        margin: 85px 0 0 0;
        font-size: 36px;
    }
    /*    faq section */
    .faq-header {
        margin: 85px 0 50px 0;
        font-size: 36px;
    }

    .faq-accordion {
        margin: 0 auto 85px auto;
    }

    .accordion-button {
        font-size: 16px;
    }

    /*    footer */
    footer {
        padding: 45px 0 32px 0;
    }

    .footer-header {
        margin-bottom: 18px;
    }

    .footer-contact-link {
        font-size: 12px;
        padding-bottom: 12px;
    }

    .requisites-description {
        font-size: 12px;
    }

    .contacts-container {
        margin-right: 150px;
    }

    .header-logo-container {
        margin: 0;
        width: 263px;
    }

    .site-info-container {
        margin-top: 40px;
    }

    .site-description, .developed-by {
        padding: 0;
    }

    .form-dogovor-submit-btn {
        margin: 70px 0 0 0;
        padding: 30px 150px;
    }

    .requisites-and-contacts-wrapper {
        width: 100%;
    }

    .site-description-president-info {
        max-width: 55%;
        text-align: left;
        font-size: 10px;
    }


    /*animation advantages card*/
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translate3d(0, -100%, 0);
        }
        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes fadeOpacity {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .advantages-images-container__animated .advantage-card {
        animation: fadeIn 1s ease-out forwards;
    }

    .advantages-images-container__animated .advantage-card:nth-child(2) {
        animation-delay: 0.6s;
    }

    .advantages-images-container__animated .advantage-card:nth-child(3) {
        animation-delay: 1.2s;
    }

    .advantages-images-container__animated .advantage-card:nth-child(4) {
        animation-delay: 1.8s;
    }

    .union-decorator {
        opacity: 0;
    }

    .advantages-images-container__animated .union-decorator {
        animation: fadeOpacity 1s ease-in forwards;
        animation-delay: 1s;
    }

    .advantages-images-container__animated .advantage-card:nth-child(2) .union-decorator {
        animation-delay: 1.6s;
    }

    .advantages-images-container__animated .advantage-card:nth-child(3) .union-decorator {
        animation-delay: 2.2s;
    }

    .gratitude-page {
        margin: 0;
        padding: 0;
        min-height: calc(100vh - 380px);
    }

    .gratitude-page .guarantee-subheader {
        font-size: 35px;
        margin-bottom: 40px;
    }

    .gratitude-page p:last-child {
        font-size: 14px;
    }
}

@media (min-width: 1200px) {
    .header-phone-number {
        font-size: 20px;
    }

    /* advantages section */
    .union-decorator {
        right: -45px;
    }

    /*    review section */
    .review-avatar-container {
        min-width: 160px;
    }

    .review-description {
        font-size: 14px;
    }

    .reviews-slider_item {
        max-height: 246px;
        height: 246px;
    }

    /*    footer*/
    .contacts-container {
        margin-right: 200px;
    }
}

@media (min-width: 1400px) {
    /*welcome section*/
    .welcome-section {
        height: calc(100vh - 110px);
    }

    .welcome-image-container {
        max-height: 100vh;
        max-width: none;
    }

    .union-decorator {
        right: -50px;
    }

    .reviews-slider_item {
        max-height: none;
        height: auto;
    }
    .partners-div{
        margin-top: 80px;
        margin-bottom: 40px;
    }
}

/*INPUT RANGE*/
input[type=range] {
    -webkit-appearance: none;
    margin: 20px 0;
    width: 100%;
    background: white linear-gradient(#00D06C, #00D06C) no-repeat;
    background-size: 1% 100%;
    height: 4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    border-radius: 25px;
}

input[type=range]::-moz-range-thumb {
    position: relative;
    z-index: 10;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #00D06C;
    -webkit-appearance: none;
    border: 0;
}

input[type=range]::-webkit-slider-thumb {
    position: relative;
    z-index: 10;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #00D06C;
    border: 0;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
}

.range-wrap {
    width: 100%;
    position: relative;
}

.range-value {
    position: absolute;
    top: 100%;
}

.range-value span {
    width: 40px;
    height: 24px;
    text-align: center;
    background: inherit;
    color: #fff;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-70%, 0);
    border-radius: 6px;
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.range-plug {
    border-radius: 50%;
    top: 14px;
    position: absolute;
    width: 15px;
    height: 15px;
}

.range-plug_start {
    left: 0;
    background: #00D06C;
}

.range-plug_end {
    right: 0;
    background: #ffffff;
}

/* callback model */
.callback-model-header {
    border: 0;
    padding: 0;
    height: 59px;
}

.callback-model-form-container {
    background: #EEEEEE;
    border-radius: 15px;
    width: auto;
    margin: 0 auto;
    border: 0;
}

.callback-model-close-btn {
    width: 15px !important;
    margin: 16px 16px 25px auto !important;
    padding: 0 !important;
}

.callback-form-label {
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #323232;
    margin: 0 0 8px 35px;
}

.callback-form-input-wrapper {
    padding: 0 22px 30px 22px;
}

.callback-form input,
.consultationForm input,
.callbackQuiz_step input {
    display: block;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 50px;
    border: 0;
    padding: 10px 20px;
    margin: 0;
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    width: 100%;
}

.callback-form input:focus,
.consultationForm input:focus {
    border: 0 #fff;
}

.callback-form-button {
    font-size: 13px;
    padding: 15px 48px;
    width: auto;
    margin: 0 22px 18px 22px;
}

.callback-model-notification {
    padding: 0 22px 42px 22px;
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #323232;
    max-width: 275px;
    margin: 0 auto;
    opacity: 0.5;
}

.callback-response-modal-header {
    color: #00987D;
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    margin: 0 22px 0 22px;
    padding: 0;
}

.callback-response-modal-header--error {
    color: #E33939;
}

.callback-response-modal-paragraph {
    color: #323232;
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    opacity: 0.8;
    margin: 0 22px 39px 22px;
    padding: 0;
    width: 231px;
}

.callback-model-header-response {
    height: 38px;
}


@media (min-width: 768px) {
    .callback-model-close-btn {
        width: 15px !important;
        margin: 23px 23px 25px auto !important;
    }

    .callback-form-label {
        font-size: 15px;
        line-height: 18px;
        margin: 0 0 10px 43px;
    }

    .callback-form-input-wrapper {
        padding: 0 26px 34px 26px;
    }

    .callback-form input,
    .consultationForm input {
        font-size: 14px;
    }

    .callback-form-button {
        font-size: 13px;
        padding: 20px 70px;
        margin: 10px 26px 16px 26px;
    }

    .callback-model-notification {
        padding: 0 22px 55px 22px;
        font-size: 11px;
        line-height: 13px;
    }

    .callback-model-header-response {
        height: 40px;
    }

    .callback-response-modal-header {
        font-size: 20px;
        line-height: 24px;
        margin: 0 116px 8px 116px;
    }

    .callback-response-modal-paragraph {
        font-size: 16px;
        line-height: 20px;
        width: 366px;
        margin: 0 35px 40px 35px;
    }
}


/* modal quiz*/
.modalQuizCallBackForm {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 300;
    background: #fff;

}

.modalQuizCallBackForm_wrapper {
    background-color: #ffffff;
}

.callbackQuiz_step {
    padding: 0 20px;
}

.callbackQuiz_step .callback-form-label {
    margin-left: 0;
    text-align: center;
    margin-bottom: 20px;
}

.callbackQuiz_step .callback-form-button {
    margin: 30px auto 20px;
}

.callbackQuiz_step .callback-form-input-wrapper {
    padding-left: 0;
    padding-right: 0;
}

.callbackQuiz_step .callback-model-close-btn {
    margin-top: 20px;
}

.progress {
    background-color: rgba(0, 0, 0, .25);
}

.progress-bar {
    background: #00D06C;
    font-size: 13px;
}

.callbackQuiz_step1 .progress-bar {
    background: none;
}

/*callback quiz model*/
.callbackQuiz_step h4 {
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 16px;
    color: #323232;
    margin: 15px 0 30px;
}

.callbackQuiz_buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.callbackQuiz_buttons button {
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #323232;
    margin-top: 15px;
    text-align: left;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    border: none;
    outline: none;
    border-radius: 5px;
}

.callbackQuiz_buttons button span {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.callbackQuiz_buttons button.callbackQuiz_button--active span {
    background: #00D06C;
    border: none;
}


.callbackQuiz_control-buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0px;
    right: 0px;
    padding: 0 32px;
    bottom: 25px;
}


.callbackQuiz_control-buttons button {
    border-radius: 5px;
    padding: 15px 35px;
    border: none;
    outline: none;
    background: linear-gradient(70.04deg, #00987D 21.54%, #00D06C 76.88%), linear-gradient(204.41deg, #FFFFFF 13.48%, rgba(255, 255, 255, 0) 68.63%);
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
}

.callbackQuiz_control-buttons button:first-child {
    color: #323232;
    background: #ffffff;
    border: 1px solid #323232;
}

.callbackQuiz_step input {
    max-width: 300px;
    border: 1px solid #323232;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .modalQuizCallBackForm {
        background: linear-gradient(88.81deg, #F5F4F2 15.25%, #E9E4E1 95.28%);
    }

    .modalQuizCallBackForm_wrapper {
        border: 1px solid #ededed;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        height: 620px;
        border-radius: 10px;
    }

    .callbackQuiz_buttons {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .callbackQuiz_buttons button {
        flex-basis: 48%;
    }
}

@media (min-width: 1200px) {
    .callbackQuiz_step4 {
        display: flex;
        align-items: center;
        height: calc(100% - 130px);
    }

    .callbackQuiz_step4 > div {
        width: 50%;
    }

    .callbackQuiz_step h4 {
        font-size: 24px;
    }

    .callbackQuiz_step4 h4 {
        width: 50%;
        align-self: flex-start;
        line-height: 39px;
        padding: 50px 0 0 50px;
    }
}
@media (max-width:768px){
    .advantage-card-ext__svg1{
        margin-bottom: 10px;
        width: 70px;
        height: 70px;
    }
    .advantage-card-ext__svg2{
        margin-bottom: 10px;
        width: 70px;
        height: 70px;
    }
    .advantage-card-ext__svg3{
        margin-bottom: 10px;
        width: 70px;
        height: 70px;
    }
    .advantage-card-ext__svg4{
        margin-bottom: 10px;
        width: 70px;
        height: 70px;
    }
    .advantage-card-ext__h3{
        margin-bottom: 10px;
        font-size: 44px;
    }
    .advantage-card-ext__p{
        padding: 0px 10px;
        margin-bottom: 15px;
    }
}
@media(max-width:600px){
    .range-value span{
        font-size: 12px;
    }
}

@media(max-width:1024px){
    .welcome-header{
        margin-top: 36px;
        line-height: 100%;
    }
}
@media(max-width:768px){
    .partners-div__item{
        width: 33%;
        padding: 20px;
    }
}
@media(max-height:740px){
    .welcome-header{
        margin-top: 36px;
    }
    .section-wrapper-info_under-image{
        max-height: 500px;
    }
}
@media(max-height:680px){
    .welcome-header{
        line-height: 110%;
    }
    .advantages-section{
        padding-bottom: 80px;
    }
}
@media(max-width:460px){
    .advantage-card-ext__p{
        font-size: 12px;
        padding: 0px 10px;
    }
    .welcome-header{
        padding-top: 20px;
    }
    .partners-div__item{
        width:45%;
    }
    .partners-div{
        margin-bottom: 10px;
    }
}
